* {
    box-sizing: border-box;
}

body {
    height: 100%;
    background-image: url(img/lonely-boats-calm-lake-with-misty-mountain-background.jpg);
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
}


.header{
    width: 100%;
}

nav {
    background-color: #fff6f61a;
    border: 1px solid rgba(85, 130, 180, 0.295);
    height: 60px;
    align-items: center;
    display: flex;
}

ul {
    list-style-type: none;
    display: flex;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    transition: 0.5s;
}
.n1{
    margin-right: 600px;
    font-size: x-large;
}
.b1{
    cursor: pointer;
    margin: 10px;
    height: 40px;
    width: 200px;
    background-color: rgba(12, 47, 78, 0.466);
    color: aliceblue;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid;
    transition: 0.5s;
}
.b2{
    cursor: pointer;
    margin: 10px;
    height: 40px;
    width: 200px;
    background-color: rgba(33, 73, 97, 0.466);
    border-radius:5px ;
    color:aliceblue ;
    font-weight: 600;
    border: 1px solid ;
    transition: 0.5s;
}
.b1:hover{
    background-color: rgba(155, 204, 236, 0.705) ;
    color: rgb(0, 0, 0);
}
.b2:hover{
    background-color: rgba(240, 248, 255, 0.466);
    color: rgb(0, 0, 0);
}
.mbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border: 0px;
}
h1{
    font-size: 50px;
}
h5{
    font-size: 20px;
}
.bd{
    
  display: inline-block;
  position: relative;
  color: #000000;
}
.bd:hover{
}
.bd::after{
    
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.bd:hover::after{
    
  transform: scaleX(1);
  transform-origin: bottom left;
}